{% extends 'base.html.twig' %}

{% block title %}Aula{% endblock %}

{% block body %}
    <h1>Aula</h1>

    <table class="table table-info">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ aula.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ aula.nombre }}</td>
            </tr>
            <tr>
                <th>Ubicacion</th>
                <td>{{ aula.ubicacion }}</td>
            </tr>
            <tr>
                <th>Capacidad</th>
                <td>{{ aula.capacidad }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-info" href="{{ path('app_aula_index') }}">back to list</a>

    <a class="btn btn-info" href="{{ path('app_aula_edit', {'id': aula.id}) }}">edit</a>

    {{ include('aula/_delete_form.html.twig') }}
{% endblock %}
